<a href="https://colab.research.google.com/github/jhuarancca/ASU_DataMining/blob/main/DataMininProyecto02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [278]:
import pandas as pd

dfIns = pd.read_csv ('InsulinData.csv')
dfCGM = pd.read_csv ('CGMData.csv')
dfInsP2 = pd.read_csv ('Insulin_patient2.csv')
dfCGMP2 = pd.read_csv ('CGM_patient2.csv')

dfIns['Datetime']=pd.to_datetime(dfIns['Date'] + ' ' + dfIns['Time'])
dfCGM['Datetime']=pd.to_datetime(dfCGM['Date'] + ' ' + dfCGM['Time'])
dfIns.rename(columns={"BWZ Carb Input (grams)": "Carb"},inplace=True)

dfInsP2['Datetime']=pd.to_datetime(dfInsP2['Date'] + ' ' + dfInsP2['Time'])
dfCGMP2['Datetime']=pd.to_datetime(dfCGM['Date'] + ' ' + dfCGMP2['Time'])
dfInsP2.rename(columns={"BWZ Carb Input (grams)": "Carb"},inplace=True)

#dfInsP2.head()

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (13,43) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)
/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (32) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)
/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (9,10) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,Unnamed: 0,Index,Date,Time,New Device Time,BG Reading (mg/dL),Linked BG Meter ID,Basal Rate (U/h),Temp Basal Amount,Temp Basal Type,...,Insulin Action Curve Time,Sensor Calibration Rejected Reason,Preset Bolus,Bolus Source,Network Device Associated Reason,Network Device Disassociated Reason,Network Device Disconnected Reason,Sensor Exception,Preset Temp Basal Name,Datetime
0,0,6564,2018-03-07,11:36:15,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,TEMPORARY,NaN,NaN,NaN,NaN,2018-03-07 11:36:15
1,1,6565,2018-03-07,11:35:56,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-03-07 11:35:56
2,2,6566,2018-03-07,11:33:19,NaN,NaN,NaN,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-03-07 11:33:19
3,3,6567,2018-03-07,11:33:19,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-03-07 11:33:19
4,4,6568,2018-03-07,11:31:04,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,CLOSED_LOOP_MICRO_BOLUS,NaN,NaN,NaN,NaN,NaN,2018-03-07 11:31:04

In [279]:
dfMeals=dfIns
dfMeals=dfMeals.drop(dfMeals[dfMeals['Carb'].isna()].index)
dfMeals = dfMeals.drop(dfMeals[(dfMeals['Carb']==0.0)].index)
dfMeals=dfMeals[["Datetime", "Carb"]]
dfMeals=dfMeals.reset_index(drop=True)
dfMeals = dfMeals.sort_values(by=['Datetime'], ascending=True)
dfMeals['Delete']='N'

dfMealsP2=dfInsP2
dfMealsP2=dfMealsP2.drop(dfMealsP2[dfMealsP2['Carb'].isna()].index)
dfMealsP2 = dfMealsP2.drop(dfMealsP2[(dfMealsP2['Carb']==0.0)].index)
dfMealsP2=dfMealsP2[["Datetime", "Carb"]]
dfMealsP2=dfMealsP2.reset_index(drop=True)
dfMealsP2 = dfMealsP2.sort_values(by=['Datetime'], ascending=True)
dfMealsP2['Delete']='N'

#dfMealsP2

               Datetime  Carb Delete
423 2017-09-05 13:14:52  38.0      N
422 2017-09-05 19:32:06  52.0      N
421 2017-09-05 19:32:23  50.0      N
420 2017-09-06 08:48:28  60.0      N
419 2017-09-06 13:22:26  33.0      N
..                  ...   ...    ...
4   2018-03-05 11:52:19  45.0      N
3   2018-03-05 17:19:29  60.0      N
2   2018-03-06 10:22:37  60.0      N
1   2018-03-06 12:40:57  40.0      N
0   2018-03-06 20:53:35  50.0      N

[424 rows x 3 columns]

In [282]:
from datetime import datetime, timedelta

dfMealsTmp=dfMeals
dfMealsTmp = dfMealsTmp.sort_values(by=['Datetime'], ascending=True)
dfMealsTmp=dfMealsTmp.reset_index(drop=True)

for index, row in dfMealsTmp.iterrows():
   ld_DateTime1=dfMealsTmp.at[index, 'Datetime']
   
   if index<(len(dfMealsTmp.index)-1):
    #print(index,len(dfMeals.index))
    ld_DateTime2=dfMealsTmp.at[index+1,'Datetime']
    ld_DateTime3=ld_DateTime1  + timedelta(hours=2)
    if ld_DateTime2<=ld_DateTime3:
      dfMeals.at[index,'Delete']='Y'
      #print(index,row['Datetime'], row['Carb'],ld_DateTime2,ld_DateTime3)
dfMeals01=dfMeals[(dfMeals['Delete']=='N')]
#dfMeals=dfMeals.drop(dfMeals[(dfMeals['Delete']=='Y')].index)
dfMeals01=dfMeals01.reset_index(drop=True)


dfMealsTmpP2=dfMealsP2
dfMealsTmpP2=dfMealsTmpP2.sort_values(by=['Datetime'], ascending=True)
dfMealsTmpP2=dfMealsTmpP2.reset_index(drop=True)

for index, row in dfMealsTmpP2.iterrows():
   ld_DateTime1=dfMealsTmpP2.at[index, 'Datetime']
   
   if index<(len(dfMealsTmpP2.index)-1):
    #print(index,len(dfMeals.index))
    ld_DateTime2=dfMealsTmpP2.at[index+1,'Datetime']
    ld_DateTime3=ld_DateTime1  + timedelta(hours=2)
    if ld_DateTime2<=ld_DateTime3:
      dfMealsP2.at[index,'Delete']='Y'
      #print(index,row['Datetime'], row['Carb'],ld_DateTime2,ld_DateTime3)
dfMeals01P2=dfMeals[(dfMeals['Delete']=='N')]
#dfMeals=dfMeals.drop(dfMeals[(dfMeals['Delete']=='Y')].index)
dfMeals01P2=dfMeals01.reset_index(drop=True)

#dfMeals01P2

               Datetime   Carb Delete
0   2017-07-25 10:21:19   91.0      N
1   2017-07-25 10:39:46   58.0      N
2   2017-07-25 18:31:40  115.0      N
3   2017-07-26 09:27:16   72.0      N
4   2017-07-26 19:15:06   60.0      N
..                  ...    ...    ...
599 2018-02-11 10:02:19   10.0      N
600 2018-02-11 12:43:23   27.0      N
601 2018-02-11 15:34:26    9.0      N
602 2018-02-11 20:33:18   71.0      N
603 2018-02-12 02:30:55   15.0      N

[604 rows x 3 columns]

In [283]:
dfCGM.rename(columns={"Sensor Glucose (mg/dL)": "Glucose"},inplace=True)
dfCGM = dfCGM.drop(dfCGM[dfCGM['Glucose'].isna()].index)
dfCGM=dfCGM[["Datetime", "Glucose"]]
dfCGM=dfCGM.reset_index(drop=True)
dfCGM = dfCGM.sort_values(by=['Datetime'], ascending=True)
dfCGM=dfCGM.reset_index(drop=True)

dfCGMP2.rename(columns={"Sensor Glucose (mg/dL)": "Glucose"},inplace=True)
dfCGMP2 = dfCGMP2.drop(dfCGMP2[dfCGMP2['Glucose'].isna()].index)
dfCGMP2=dfCGMP2[["Datetime", "Glucose"]]
dfCGMP2=dfCGMP2.reset_index(drop=True)
dfCGMP2=dfCGMP2.sort_values(by=['Datetime'], ascending=True)
dfCGMP2=dfCGMP2.reset_index(drop=True)

dfCGMP2

                 Datetime  Glucose
0     2017-10-10 10:46:21    182.0
1     2017-10-10 10:51:21    183.0
2     2017-10-10 10:56:21    201.0
3     2017-10-10 11:01:21    214.0
4     2017-10-10 11:06:21    226.0
...                   ...      ...
31284 2018-02-12 23:35:45    273.0
31285 2018-02-12 23:40:45    279.0
31286 2018-02-12 23:45:45    286.0
31287 2018-02-12 23:50:45    295.0
31288 2018-02-12 23:55:45    305.0

[31289 rows x 2 columns]

In [284]:
dfMealData = pd.DataFrame()
li_row=0
for index, row in dfMeals01.iterrows():
   ld_DateTime=dfMeals01.at[index, 'Datetime']
   ld_DateTimeFrom=dfMeals01.at[index, 'Datetime']+ timedelta(hours=-0.5)
   ld_DateTimeTo=dfMeals01.at[index, 'Datetime']+ timedelta(hours=2)
   #dfCGM
   #print(index,ld_DateTime,ld_DateTimeFrom,ld_DateTimeTo)
   dfCGM01=dfCGM.loc[(dfCGM['Datetime'] >= ld_DateTimeFrom) & (dfCGM['Datetime'] <= ld_DateTimeTo)]
   #if li_row==10:
   # print(dfCGM01)
   #print(len(dfCGM01.index) )
   if len(dfCGM01.index)==30:
    li_column=1
    for ind in dfCGM01.index:
      #print(dfCGM01['Glucose'][ind])
      #print(ind,dfCGM01.index)
      dfMealData.at[li_row,li_column]=dfCGM01['Glucose'][ind]
      li_column=li_column+1
    #dfCGM01=pd.pivot(data=dfCGM01,index='Id',columns='Id',values='Glucose')
    li_row=li_row+1
dfMealData.columns = ['01', '02', '03','04', '05', '06','07', '08', '09','10', '11', '12','13', '14', '15','16', '17', '18','19', '20', '21','22', '23', '24','25', '26', '27','28', '29', '30']   

dfMealDataP2 = pd.DataFrame()
li_row=0
for index, row in dfMeals01P2.iterrows():
   ld_DateTime=dfMeals01P2.at[index, 'Datetime']
   ld_DateTimeFrom=dfMeals01P2.at[index, 'Datetime']+ timedelta(hours=-0.5)
   ld_DateTimeTo=dfMeals01P2.at[index, 'Datetime']+ timedelta(hours=2)
   #dfCGM
   #print(index,ld_DateTime,ld_DateTimeFrom,ld_DateTimeTo)
   dfCGM01P2=dfCGMP2.loc[(dfCGMP2['Datetime'] >= ld_DateTimeFrom) & (dfCGMP2['Datetime'] <= ld_DateTimeTo)]
   #if li_row==10:
   # print(dfCGM01)
   #print(len(dfCGM01.index) )
   if len(dfCGM01P2.index)==30:
    li_column=1
    for ind in dfCGM01P2.index:
      #print(dfCGM01['Glucose'][ind])
      #print(ind,dfCGM01.index)
      dfMealDataP2.at[li_row,li_column]=dfCGM01P2['Glucose'][ind]
      li_column=li_column+1
    #dfCGM01=pd.pivot(data=dfCGM01,index='Id',columns='Id',values='Glucose')
    li_row=li_row+1
dfMealDataP2.columns = ['01', '02', '03','04', '05', '06','07', '08', '09','10', '11', '12','13', '14', '15','16', '17', '18','19', '20', '21','22', '23', '24','25', '26', '27','28', '29', '30']   

dfMealDataP2

,01,02,03,04,05,06,07,08,09,10,...,21,22,23,24,25,26,27,28,29,30
0,221.0,226.0,236.0,237.0,241.0,234.0,222.0,198.0,188.0,186.0,...,175.0,175.0,170.0,161.0,146.0,134.0,148.0,154.0,147.0,144.0
1,146.0,134.0,148.0,154.0,147.0,144.0,142.0,137.0,127.0,119.0,...,83.0,76.0,68.0,67.0,69.0,73.0,80.0,97.0,112.0,126.0
2,73.0,80.0,97.0,112.0,126.0,130.0,137.0,140.0,135.0,134.0,...,128.0,129.0,126.0,122.0,120.0,118.0,121.0,127.0,134.0,145.0
3,142.0,148.0,170.0,186.0,194.0,192.0,186.0,176.0,160.0,161.0,...,196.0,190.0,188.0,192.0,200.0,218.0,230.0,235.0,232.0,224.0
4,235.0,232.0,224.0,215.0,205.0,205.0,209.0,207.0,198.0,194.0,...,167.0,162.0,161.0,163.0,165.0,169.0,186.0,192.0,192.0,191.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
290,111.0,105.0,101.0,100.0,100.0,105.0,117.0,126.0,138.0,140.0,...,221.0,212.0,204.0,192.0,184.0,187.0,186.0,182.0,174.0,167.0
291,177.0,164.0,158.0,156.0,159.0,158.0,152.0,153.0,152.0,150.0,...,150.0,142.0,139.0,138.0,144.0,149.0,150.0,149.0,147.0,147.0
292,172.0,179.0,186.0,207.0,210.0,216.0,222.0,233.0,248.0,254.0,...,139.0,131.0,128.0,126.0,129.0,130.0,132.0,130.0,120.0,115.0
293,113.0,116.0,118.0,121.0,122.0,123.0,125.0,125.0,125.0,127.0,...,203.0,202.0,202.0,203.0,205.0,206.0,205.0,209.0,216.0,214.0
294,291.0,284.0,279.0,277.0,280.0,285.0,286.0,287.0,284.0,281.0,...,292.0,293.0,295.0,297.0,296.0,295.0,292.0,288.0,285.0,282.0

In [288]:
dfNoMealData = pd.DataFrame()
#dfCGM01 = pd.DataFrame()
li_row=0
for index, row in dfMeals01.iterrows():
   ld_DateTime=dfMeals01.at[index, 'Datetime']
   ld_DateTimeFrom=dfMeals01.at[index, 'Datetime']+ timedelta(hours=2)
   ld_DateTimeTo=dfMeals01.at[index, 'Datetime']+ timedelta(hours=4)
   if index<(len(dfMeals01.index)-1):
    ld_DateTimeNext=dfMeals01.at[index+1,'Datetime']
   else:
    ld_DateTimeNext= max(dfMeals01['Datetime'])
      
   #print("next",ld_DateTimeNext)
   while ld_DateTimeTo<=ld_DateTimeNext:
      li_count=0
      dfMeals02=dfMeals01.loc[(dfMeals01['Datetime'] >= ld_DateTimeFrom) & (dfMeals01['Datetime'] <= ld_DateTimeTo)]
      li_count=len(dfMeals02.index)
      if li_count==0:
        #print(li_count)
        ###
        dfCGM02=dfCGM.loc[(dfCGM['Datetime'] >= ld_DateTimeFrom) & (dfCGM['Datetime'] <= ld_DateTimeTo)]
        #if li_row==0:
          #print(dfCGM02)
   
        if len(dfCGM02.index)==24:
          li_column=1
          for ind in dfCGM02.index:
            #print(dfCGM01['Glucose'][ind])
            #print(ind,dfCGM01.index)
            dfNoMealData.at[li_row,li_column]=dfCGM02['Glucose'][ind]
            li_column=li_column+1
          #dfCGM01=pd.pivot(data=dfCGM01,index='Id',columns='Id',values='Glucose')
          li_row=li_row+1
        ###
        ld_DateTimeFrom=ld_DateTimeTo
        ld_DateTimeTo=ld_DateTimeTo+ timedelta(hours=2)
      else:
        #print(li_count,"break",)
        break
      #print(ld_DateTimeFrom,ld_DateTimeTo)
dfNoMealData.columns = ['01', '02', '03','04', '05', '06','07', '08', '09','10', '11', '12','13', '14', '15','16', '17', '18','19', '20', '21','22', '23', '24']   

dfNoMealDataP2 = pd.DataFrame()
li_row=0
for index, row in dfMeals01P2.iterrows():
   ld_DateTime=dfMeals01P2.at[index, 'Datetime']
   ld_DateTimeFrom=dfMeals01P2.at[index, 'Datetime']+ timedelta(hours=2)
   ld_DateTimeTo=dfMeals01P2.at[index, 'Datetime']+ timedelta(hours=4)
   if index<(len(dfMeals01P2.index)-1):
    ld_DateTimeNext=dfMeals01P2.at[index+1,'Datetime']
   else:
    ld_DateTimeNext= max(dfMeals01P2['Datetime'])
      
   #print("next",ld_DateTimeNext)
   while ld_DateTimeTo<=ld_DateTimeNext:
      li_count=0
      dfMeals02P2=dfMeals01P2.loc[(dfMeals01P2['Datetime'] >= ld_DateTimeFrom) & (dfMeals01P2['Datetime'] <= ld_DateTimeTo)]
      li_count=len(dfMeals02P2.index)
      if li_count==0:
        #print(li_count)
        ###
        dfCGM02P2=dfCGMP2.loc[(dfCGMP2['Datetime'] >= ld_DateTimeFrom) & (dfCGMP2['Datetime'] <= ld_DateTimeTo)]
        #if li_row==0:
          #print(dfCGM02P2)
   
        if len(dfCGM02P2.index)==24:
          li_column=1
          for ind in dfCGM02P2.index:
            #print(dfCGM01['Glucose'][ind])
            #print(ind,dfCGM01.index)
            dfNoMealDataP2.at[li_row,li_column]=dfCGM02P2['Glucose'][ind]
            li_column=li_column+1
          #dfCGM01=pd.pivot(data=dfCGM01,index='Id',columns='Id',values='Glucose')
          li_row=li_row+1
        ###
        ld_DateTimeFrom=ld_DateTimeTo
        ld_DateTimeTo=ld_DateTimeTo+ timedelta(hours=2)
      else:
        #print(li_count,"break",)
        break
      #print(ld_DateTimeFrom,ld_DateTimeTo)
   
dfNoMealDataP2.columns = ['01', '02', '03','04', '05', '06','07', '08', '09','10', '11', '12','13', '14', '15','16', '17', '18','19', '20', '21','22', '23', '24']   

dfNoMealDataP2

,01,02,03,04,05,06,07,08,09,10,...,15,16,17,18,19,20,21,22,23,24
0,250.0,258.0,259.0,260.0,260.0,251.0,244.0,246.0,247.0,245.0,...,205.0,218.0,238.0,242.0,240.0,232.0,229.0,228.0,226.0,225.0
1,156.0,162.0,170.0,180.0,191.0,201.0,212.0,219.0,223.0,227.0,...,204.0,207.0,205.0,191.0,181.0,174.0,172.0,173.0,175.0,178.0
2,121.0,124.0,128.0,126.0,122.0,120.0,122.0,129.0,139.0,147.0,...,174.0,177.0,179.0,182.0,185.0,189.0,194.0,197.0,199.0,202.0
3,204.0,204.0,204.0,204.0,205.0,205.0,205.0,204.0,204.0,205.0,...,194.0,187.0,180.0,175.0,171.0,170.0,170.0,170.0,170.0,169.0
4,168.0,165.0,162.0,164.0,172.0,179.0,182.0,178.0,174.0,173.0,...,163.0,162.0,163.0,164.0,164.0,163.0,162.0,161.0,161.0,165.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
741,101.0,103.0,105.0,106.0,107.0,108.0,110.0,110.0,111.0,111.0,...,112.0,112.0,111.0,111.0,111.0,111.0,112.0,115.0,114.0,112.0
742,110.0,106.0,108.0,111.0,110.0,110.0,110.0,110.0,113.0,118.0,...,120.0,120.0,120.0,120.0,122.0,124.0,130.0,136.0,143.0,147.0
743,149.0,150.0,149.0,147.0,145.0,143.0,142.0,141.0,140.0,140.0,...,140.0,141.0,142.0,144.0,146.0,150.0,153.0,156.0,159.0,159.0
744,211.0,210.0,207.0,205.0,200.0,199.0,204.0,205.0,201.0,194.0,...,174.0,169.0,164.0,161.0,159.0,154.0,153.0,156.0,162.0,166.0
745,164.0,162.0,162.0,162.0,160.0,158.0,155.0,151.0,147.0,142.0,...,129.0,127.0,124.0,315.0,326.0,336.0,349.0,357.0,368.0,375.0

In [289]:
dfMealData = pd.concat([dfMealData, dfMealDataP2],ignore_index=True)
dfNoMealData = pd.concat([dfNoMealData, dfNoMealDataP2],ignore_index=True)

,01,02,03,04,05,06,07,08,09,10,...,15,16,17,18,19,20,21,22,23,24
0,312.0,316.0,324.0,319.0,315.0,314.0,316.0,314.0,310.0,298.0,...,289.0,294.0,290.0,278.0,251.0,229.0,208.0,198.0,186.0,174.0
1,160.0,145.0,134.0,129.0,120.0,113.0,109.0,106.0,100.0,95.0,...,77.0,73.0,70.0,65.0,62.0,59.0,58.0,63.0,71.0,81.0
2,189.0,182.0,175.0,166.0,146.0,138.0,129.0,123.0,118.0,114.0,...,82.0,77.0,71.0,66.0,63.0,65.0,66.0,64.0,62.0,61.0
3,64.0,67.0,69.0,67.0,63.0,60.0,55.0,53.0,53.0,54.0,...,65.0,64.0,64.0,65.0,65.0,64.0,64.0,67.0,72.0,78.0
4,86.0,89.0,90.0,89.0,89.0,90.0,91.0,90.0,87.0,83.0,...,95.0,95.0,92.0,92.0,93.0,91.0,89.0,92.0,99.0,106.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1990,101.0,103.0,105.0,106.0,107.0,108.0,110.0,110.0,111.0,111.0,...,112.0,112.0,111.0,111.0,111.0,111.0,112.0,115.0,114.0,112.0
1991,110.0,106.0,108.0,111.0,110.0,110.0,110.0,110.0,113.0,118.0,...,120.0,120.0,120.0,120.0,122.0,124.0,130.0,136.0,143.0,147.0
1992,149.0,150.0,149.0,147.0,145.0,143.0,142.0,141.0,140.0,140.0,...,140.0,141.0,142.0,144.0,146.0,150.0,153.0,156.0,159.0,159.0
1993,211.0,210.0,207.0,205.0,200.0,199.0,204.0,205.0,201.0,194.0,...,174.0,169.0,164.0,161.0,159.0,154.0,153.0,156.0,162.0,166.0
1994,164.0,162.0,162.0,162.0,160.0,158.0,155.0,151.0,147.0,142.0,...,129.0,127.0,124.0,315.0,326.0,336.0,349.0,357.0,368.0,375.0

In [290]:
import numpy as np
import matplotlib.pyplot as plotter
from scipy.fftpack import fft

dfMealMatrix = pd.DataFrame()

#dfMealData.info()
ld_feat01=0.00
ld_feat02=0.00
ld_feat03=0.00
ld_feat04=0.00
ld_feat05=0.00
ld_feat06=0.00
ld_feat07=0.00
ld_feat08=0.00

for index,row in dfMealData.iterrows(): 
    ld_maxMeal=max(row)
    ld_startMeal=dfMealData.at[index, '01']
    ld_meal=dfMealData.at[index, '07']
    #ld_feat01 *****************************
    ld_feat01=0.00
    x = range(0,30)
    ld_row=0
    li_indexMax=0
    for n in x:
      ld_row=row.get(n,0)
      if ld_row>=ld_maxMeal:
        li_indexMax=n+1
    #print("IndexMax",li_indexMax)
    #print(row)
    if li_indexMax>7:
      ld_feat01=(li_indexMax-7)*5
    else:   
      #Average 25  *************************************************************
      ld_feat01=(25-7)*5
    #print("ld_feat01",ld_feat01)
    #ld_feat02 *****************************
    ld_feat02=0.00
    ld_feat02=(ld_maxMeal - ld_meal)/ld_meal

    #print("ld_feat02",ld_feat02)
    #row.loc[row['column_name'] == ld_max]
    #row.iloc[:,1]
    #print(ld_max,ld_meal)
    
    #ld_feat03 *****************************
    #ld_feat04 *****************************
    #ld_feat05 *****************************
    #ld_feat06 *****************************
    ld_feat03=0.00
    ld_feat04=0.00
    ld_feat05=0.00
    ld_feat06=0.00

    #la_signal = np.array(row, dtype=float)
    #fourier = np.fft.fft(la_signal)
    #n = la_signal.size
    #sampleRate = 30
    #timestep = 0.1/sampleRate
    #la_freq = np.fft.fftfreq(n, d=timestep)

    la_sp = np.fft.fft(row)
    la_freq = np.fft.fftfreq(row.shape[-1])
    
    #la_freq = np.fft.fft(x)

    ld_feat03=abs(la_freq[0].real)
    ld_feat04=abs(la_freq[1].real)
    ld_feat05=abs(la_freq[2].real)
    ld_feat06=abs(la_freq[3].real)
    #ld_feat07 *****************************
    #First data point until max datapoint
    #ld_feat07 = (y2-y1)/(x2-x1)
    ld_feat07 = (ld_maxMeal-ld_startMeal)/(li_indexMax-0)
    
    #ld_feat08 *****************************
    ld_feat08=row.std(axis=0)

    dfMealMatrix.at[index,"feat01"]=ld_feat01
    dfMealMatrix.at[index,"feat02"]=ld_feat02
    dfMealMatrix.at[index,"feat03"]=ld_feat03
    dfMealMatrix.at[index,"feat04"]=ld_feat04
    dfMealMatrix.at[index,"feat05"]=ld_feat05
    dfMealMatrix.at[index,"feat06"]=ld_feat06
    dfMealMatrix.at[index,"feat07"]=ld_feat07
    dfMealMatrix.at[index,"feat08"]=ld_feat08
    
#row
dfMealMatrix

#row.iloc[:,:]
#dfMealData

     feat01    feat02  feat03    feat04    feat05  feat06    feat07     feat08
0     115.0  0.758794     0.0  0.033333  0.066667     0.1  5.066667  56.690418
1      35.0  0.590361     0.0  0.033333  0.066667     0.1  6.571429  27.022022
2      85.0  0.074627     0.0  0.033333  0.066667     0.1  0.166667  15.490041
3      60.0  0.704000     0.0  0.033333  0.066667     0.1  3.578947  30.393209
4     115.0  2.636364     0.0  0.033333  0.066667     0.1  5.333333  50.614216
..      ...       ...     ...       ...       ...     ...       ...        ...
743    70.0  0.888889     0.0  0.033333  0.066667     0.1  5.238095  39.797534
744    90.0  0.164474     0.0  0.033333  0.066667     0.1  0.000000   9.252586
745    20.0  0.184685     0.0  0.033333  0.066667     0.1  8.272727  47.794339
746   110.0  0.728000     0.0  0.033333  0.066667     0.1  3.551724  37.972525
747    85.0  0.038462     0.0  0.033333  0.066667     0.1  0.250000   5.849551

[748 rows x 8 columns]

In [291]:
dfNoMealMatrix = pd.DataFrame()

ld_feat01=0.00
ld_feat02=0.00
ld_feat03=0.00
ld_feat04=0.00
ld_feat05=0.00
ld_feat06=0.00
ld_feat07=0.00
ld_feat08=0.00

for index,row in dfNoMealData.iterrows(): 
    ld_maxMeal=max(row)
    ld_startMeal=dfNoMealData.at[index, '01']
    ld_meal=dfNoMealData.at[index, '01']
    #ld_feat01 *****************************
    ld_feat01=0.00
    x = range(0,24)
    ld_row=0
    li_indexMax=0
    for n in x:
      ld_row=row.get(n,0)
      if ld_row>=ld_maxMeal:
        li_indexMax=n+1
    #print("IndexMax",li_indexMax)
    #print(row)
    if li_indexMax>0:
      ld_feat01=(li_indexMax)*5
    else:   
      #Average 15  *************************************************************
      ld_feat01=(15-7)*5
    #print("ld_feat01",ld_feat01)
    #ld_feat02 *****************************
    ld_feat02=0.00
    ld_feat02=(ld_maxMeal - ld_meal)/ld_meal

    #print("ld_feat02",ld_feat02)
    #row.loc[row['column_name'] == ld_max]
    #row.iloc[:,1]
    #print(ld_max,ld_meal)
    
    #ld_feat03 *****************************
    #ld_feat04 *****************************
    #ld_feat05 *****************************
    #ld_feat06 *****************************
    ld_feat03=0.00
    ld_feat04=0.00
    ld_feat05=0.00
    ld_feat06=0.00

    #la_signal = np.array(row, dtype=float)
    #fourier = np.fft.fft(la_signal)
    #n = la_signal.size
    #sampleRate = 30
    #timestep = 0.1/sampleRate
    #la_freq = np.fft.fftfreq(n, d=timestep)

    la_sp = np.fft.fft(row)
    la_freq = np.fft.fftfreq(row.shape[-1])
    
    #la_freq = np.fft.fft(x)
    
    ld_feat03=abs(la_freq[0].real)
    ld_feat04=abs(la_freq[1].real)
    ld_feat05=abs(la_freq[2].real)
    ld_feat06=abs(la_freq[3].real)
    #ld_feat07 *****************************
    #First data point until max datapoint
    #ld_feat07 = (y2-y1)/(x2-x1)
    ld_feat07 = (ld_maxMeal-ld_startMeal)/(li_indexMax-0)
    
    #ld_feat08 *****************************
    ld_feat08=row.std(axis=0)

    dfNoMealMatrix.at[index,"feat01"]=ld_feat01
    dfNoMealMatrix.at[index,"feat02"]=ld_feat02
    dfNoMealMatrix.at[index,"feat03"]=ld_feat03
    dfNoMealMatrix.at[index,"feat04"]=ld_feat04
    dfNoMealMatrix.at[index,"feat05"]=ld_feat05
    dfNoMealMatrix.at[index,"feat06"]=ld_feat06
    dfNoMealMatrix.at[index,"feat07"]=ld_feat07
    dfNoMealMatrix.at[index,"feat08"]=ld_feat08
    
#row
dfNoMealMatrix

#row.iloc[:,:]
#dfMealData

,feat01,feat02,feat03,feat04,feat05,feat06,feat07,feat08
0,15.0,0.038462,0.0,0.041667,0.083333,0.125,4.000000,45.535700
1,5.0,0.000000,0.0,0.041667,0.083333,0.125,0.000000,28.630296
2,5.0,0.000000,0.0,0.041667,0.083333,0.125,0.000000,41.935056
3,120.0,0.218750,0.0,0.041667,0.083333,0.125,0.583333,5.951343
4,120.0,0.232558,0.0,0.041667,0.083333,0.125,0.833333,5.043111
...,...,...,...,...,...,...,...,...
1990,110.0,0.138614,0.0,0.041667,0.083333,0.125,0.636364,3.381268
1991,120.0,0.336364,0.0,0.041667,0.083333,0.125,1.541667,10.636194
1992,120.0,0.067114,0.0,0.041667,0.083333,0.125,0.416667,6.324412
1993,5.0,0.000000,0.0,0.041667,0.083333,0.125,0.000000,20.228003
1994,120.0,1.286585,0.0,0.041667,0.083333,0.125,8.791667,94.612214

In [292]:
dfMealMatrix01=dfMealMatrix
dfMealMatrix01['meal']=1

dfNoMealMatrix01=dfNoMealMatrix
dfNoMealMatrix01['meal']=0

dfMatrix = pd.concat([dfMealMatrix01, dfNoMealMatrix01],ignore_index=True)
dfMatrix

,feat01,feat02,feat03,feat04,feat05,feat06,feat07,feat08,meal
0,115.0,0.758794,0.0,0.033333,0.066667,0.100,5.066667,56.690418,1
1,35.0,0.590361,0.0,0.033333,0.066667,0.100,6.571429,27.022022,1
2,85.0,0.074627,0.0,0.033333,0.066667,0.100,0.166667,15.490041,1
3,60.0,0.704000,0.0,0.033333,0.066667,0.100,3.578947,30.393209,1
4,115.0,2.636364,0.0,0.033333,0.066667,0.100,5.333333,50.614216,1
...,...,...,...,...,...,...,...,...,...
2738,110.0,0.138614,0.0,0.041667,0.083333,0.125,0.636364,3.381268,0
2739,120.0,0.336364,0.0,0.041667,0.083333,0.125,1.541667,10.636194,0
2740,120.0,0.067114,0.0,0.041667,0.083333,0.125,0.416667,6.324412,0
2741,5.0,0.000000,0.0,0.041667,0.083333,0.125,0.000000,20.228003,0
2742,120.0,1.286585,0.0,0.041667,0.083333,0.125,8.791667,94.612214,0

In [293]:
from sklearn.metrics import accuracy_score
from sklearn.model_selection import KFold
from sklearn.svm import SVC
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
import pickle

samples = dfMatrix.iloc[:, :-1]
labels = dfMatrix.iloc[:, -1]

# Train the model on the extracted features
#model = train(samples, labels)

model = 'ML_MealNoMealClassifier'
acc_scores = []

# For K-Fold validation
kfold_k=5
kf=KFold(kfold_k,shuffle=True,random_state=None)

for tr, ts in kf.split(samples, labels) : 
    tr_X, ts_X = samples.iloc[tr], samples.iloc[ts]
    tr_Y, ts_Y = labels.iloc[tr], labels.iloc[ts]

    model = SVC(kernel='rbf', gamma='scale', degree=3)
    model.fit(tr_X, tr_Y)

    pred_Y = model.predict(ts_X)
    acc_scores.append(accuracy_score(ts_Y, pred_Y))

print('Accuracy: ', (np.sum(acc_scores) / kfold_k) * 100)

# Dump the trained model into a pickle file
with open('mealNoMealModel.pkl', 'wb') as file :
   pickle.dump(model, file)

Accuracy:  77.396859585444

In [296]:
dfCGMTest = pd.read_csv ('test.csv')
dfCGMTest
dfCGMTest.columns = ['01', '02', '03','04', '05', '06','07', '08', '09','10', '11', '12','13', '14', '15','16', '17', '18','19', '20', '21','22', '23', '24']   
dfCGMTest

,01,02,03,04,05,06,07,08,09,10,...,15,16,17,18,19,20,21,22,23,24
0,182,208,232,240,256,279,276,280,285,284,...,260,255,247,236,227,220,213,207,202,169
1,132,123,116,111,107,107,116,140,141,134,...,114,114,111,113,122,131,133,129,119,134
2,74,73,77,89,105,112,106,99,96,91,...,57,51,49,51,55,64,88,122,141,79
3,161,167,177,175,163,157,155,159,162,167,...,204,223,251,244,223,211,202,209,222,155
4,312,309,299,289,293,303,305,305,310,304,...,234,257,257,251,247,241,238,234,228,328
5,51,46,40,40,43,47,54,75,80,89,...,92,93,107,120,135,129,117,102,99,52
6,127,127,124,121,120,121,114,93,91,98,...,118,120,131,142,153,172,193,196,197,129
7,82,83,94,131,146,158,171,185,197,212,...,190,164,147,144,134,130,129,125,132,80
8,109,120,128,131,132,128,120,111,109,111,...,96,95,95,94,91,92,91,88,88,110
9,115,116,112,108,104,106,109,110,113,126,...,131,133,137,143,155,156,148,144,143,105
10,150,143,138,131,124,116,110,111,111,110,...,113,115,116,119,126,129,135,141,141,154
11,154,165,164,171,174,180,174,171,174,172,...,169,164,153,155,163,166,172,173,171,140
12,166,172,177,181,184,177,172,166,156,155,...,126,120,116,121,125,126,124,119,112,157
13,64,69,71,77,86,92,96,95,94,93,...,124,123,123,114,104,99,92,88,91,52
14,203,199,199,205,216,232,240,248,255,262,...,294,302,299,305,316,320,321,315,308,204
15,87,88,95,112,131,143,152,160,166,170,...,161,166,175,177,178,183,197,209,219,91
16,122,133,150,162,176,186,190,189,180,177,...,171,169,165,161,158,158,163,170,176,127
17,141,145,153,178,190,195,200,207,214,224,...,222,219,214,215,220,223,222,219,212,138
18,255,251,249,246,245,242,224,215,205,205,...,221,214,199,187,180,182,185,179,172,259
19,116,123,136,159,183,189,195,193,190,186,...,190,182,172,162,158,151,143,135,129,116
20,357,365,377,372,368,365,354,341,326,316,...,218,201,188,176,167,132,126,123,117,335
21,131,143,164,179,197,216,230,240,245,242,...,255,262,270,265,257,253,249,245,241,128
22,343,332,327,316,303,289,274,261,247,235,...,170,155,143,131,116,105,93,81,68,356
23,55,74,93,118,136,157,178,197,212,211,...,249,256,258,255,258,275,326,347,355,50
24,238,240,238,226,227,237,251,281,318,350,...,329,332,348,356,350,350,355,358,366,235
25,112,109,97,93,93,94,100,121,126,139,...,129,121,114,119,121,122,121,119,119,116
26,267,272,278,277,275,268,258,243,232,229,...,181,175,173,170,167,166,168,166,159,263
27,112,107,109,114,122,132,139,146,151,156,...,151,146,142,140,138,138,138,138,137,119
28,99,103,112,126,135,144,154,161,169,176,...,186,183,183,183,182,182,181,180,178,97
29,135,135,139,155,173,185,197,207,218,226,...,228,224,219,209,199,193,186,180,178,136
30,85,84,84,86,93,112,130,142,156,173,...,220,219,214,210,208,206,205,205,207,85
31,208,210,215,222,227,228,224,219,216,214,...,209,208,209,211,213,214,215,215,215,208
32,276,277,278,284,289,298,295,288,278,260,...,204,191,177,168,158,146,135,125,117,273
33,122,124,125,127,135,154,166,179,190,196,...,194,199,209,214,216,212,208,203,197,119
34,130,134,142,151,156,164,173,179,186,194,...,214,205,201,200,204,215,230,240,241,128
35,187,196,215,227,242,262,292,313,333,354,...,344,347,347,345,348,362,368,378,385,182
36,206,204,206,216,217,222,231,240,248,263,...,267,269,274,281,287,294,308,302,303,206
37,317,299,289,280,272,262,255,242,235,227,...,195,201,205,204,195,189,181,176,177,324
38,137,146,175,186,202,225,245,265,288,300,...,308,310,321,320,315,307,308,304,283,136
39,124,130,136,152,167,179,191,200,209,216,...,204,199,195,191,187,184,182,180,178,111
40,189,186,187,200,229,234,235,222,221,223,...,226,215,197,180,156,162,174,172,176,190
41,113,114,114,113,114,115,119,136,145,156,...,143,138,121,125,128,126,134,128,126,106
42,130,144,154,164,173,181,187,193,191,185,...,177,175,173,172,174,174,169,156,153,114
43,118,116,116,116,117,122,138,151,157,165,...,189,199,200,195,192,190,193,201,204,118
44,65,67,73,89,109,121,131,139,142,146,...,141,142,142,141,139,139,142,147,151,66
45,150,169,182,194,205,214,213,206,194,178,...,153,147,141,137,139,143,148,152,154,142
46,127,137,149,157,165,177,188,198,208,216,...,247,249,250,250,248,248,249,249,248,119
47,160,161,169,177,192,204,215,226,233,242,...,274,280,288,299,300,293,287,282,279,165
48,204,214,221,226,229,223,214,200,181,171,...,125,110,99,87,82,76,69,63,59,193
49,179,181,186,191,197,192,187,182,179,178,...,160,159,157,155,150,145,140,135,129,172
50,95,93,93,97,102,111,124,123,128,146,...,190,199,209,219,227,233,235,234,234,97
51,257,258,260,261,263,264,261,254,250,246,...,208,206,203,197,192,189,184,180,179,255
52,61,65,74,102,120,136,145,149,159,170,...,201,202,201,198,191,177,159,152,145,64
53,120,136,152,168,186,193,193,193,178,148,...,108,110,115,117,118,116,114,113,113,104
54,274,293,292,299,301,304,306,299,296,297,...,294,289,283,270,267,266,264,254,245,253
55,82,82,80,80,80,76,73,70,68,66,...,61,52,44,50,55,60,65,71,75,91
56,327,315,301,287,263,248,230,221,215,209,...,163,149,136,125,120,112,105,100,96,336
57,271,276,280,290,288,287,281,274,258,249,...,223,221,216,207,212,211,209,208,204,265

In [297]:
dfCGMTestMatrix = pd.DataFrame()

ld_feat01=0.00
ld_feat02=0.00
ld_feat03=0.00
ld_feat04=0.00
ld_feat05=0.00
ld_feat06=0.00
ld_feat07=0.00
ld_feat08=0.00

for index,row in dfCGMTest.iterrows(): 
    ld_maxMeal=max(row)
    ld_startMeal=dfCGMTest.at[index, '01']
    ld_meal=dfCGMTest.at[index, '01']
    #ld_feat01 *****************************
    ld_feat01=0.00
    x = range(0,24)
    ld_row=0
    li_indexMax=0
    for n in x:
      ld_row=row.get(n,0)
      if ld_row>=ld_maxMeal:
        li_indexMax=n+1
    #print("IndexMax",li_indexMax)
    #print(row)
    if li_indexMax>0:
      ld_feat01=(li_indexMax)*5
    else:   
      #Average 15  *************************************************************
      ld_feat01=(15-7)*5
    #print("ld_feat01",ld_feat01)
    #ld_feat02 *****************************
    ld_feat02=0.00
    ld_feat02=(ld_maxMeal - ld_meal)/ld_meal

    #print("ld_feat02",ld_feat02)
    #row.loc[row['column_name'] == ld_max]
    #row.iloc[:,1]
    #print(ld_max,ld_meal)
    
    #ld_feat03 *****************************
    #ld_feat04 *****************************
    #ld_feat05 *****************************
    #ld_feat06 *****************************
    ld_feat03=0.00
    ld_feat04=0.00
    ld_feat05=0.00
    ld_feat06=0.00

    #la_signal = np.array(row, dtype=float)
    #fourier = np.fft.fft(la_signal)
    #n = la_signal.size
    #sampleRate = 30
    #timestep = 0.1/sampleRate
    #la_freq = np.fft.fftfreq(n, d=timestep)

    la_sp = np.fft.fft(row)
    la_freq = np.fft.fftfreq(row.shape[-1])
    
    #la_freq = np.fft.fft(x)
    
    ld_feat03=abs(la_freq[0].real)
    ld_feat04=abs(la_freq[1].real)
    ld_feat05=abs(la_freq[2].real)
    ld_feat06=abs(la_freq[3].real)
    #ld_feat07 *****************************
    #First data point until max datapoint
    #ld_feat07 = (y2-y1)/(x2-x1)
    ld_feat07 = (ld_maxMeal-ld_startMeal)/(li_indexMax-0)
    
    #ld_feat08 *****************************
    ld_feat08=row.std(axis=0)

    dfCGMTestMatrix.at[index,"feat01"]=ld_feat01
    dfCGMTestMatrix.at[index,"feat02"]=ld_feat02
    dfCGMTestMatrix.at[index,"feat03"]=ld_feat03
    dfCGMTestMatrix.at[index,"feat04"]=ld_feat04
    dfCGMTestMatrix.at[index,"feat05"]=ld_feat05
    dfCGMTestMatrix.at[index,"feat06"]=ld_feat06
    dfCGMTestMatrix.at[index,"feat07"]=ld_feat07
    dfCGMTestMatrix.at[index,"feat08"]=ld_feat08
#row
dfCGMTestMatrix
#dfInsP2.head()

    feat01    feat02  feat03    feat04    feat05  feat06     feat07     feat08
0     55.0  0.565934     0.0  0.041667  0.083333   0.125   9.363636  35.378057
1     45.0  0.068182     0.0  0.041667  0.083333   0.125   1.000000  10.996706
2    115.0  0.905405     0.0  0.041667  0.083333   0.125   2.913043  23.880098
3     85.0  0.559006     0.0  0.041667  0.083333   0.125   5.294118  29.306940
4    120.0  0.051282     0.0  0.041667  0.083333   0.125   0.666667  33.004501
5     95.0  1.647059     0.0  0.041667  0.083333   0.125   4.421053  29.652058
6    115.0  0.551181     0.0  0.041667  0.083333   0.125   3.043478  30.228568
7     60.0  1.780488     0.0  0.041667  0.083333   0.125  12.166667  45.445540
8     25.0  0.211009     0.0  0.041667  0.083333   0.125   4.600000  14.175658
9    100.0  0.356522     0.0  0.041667  0.083333   0.125   2.050000  16.315670
10   120.0  0.026667     0.0  0.041667  0.083333   0.125   0.166667  14.253845
11    30.0  0.168831     0.0  0.041667  0.083333   0.125   4.333333   8.682712
12    25.0  0.108434     0.0  0.041667  0.083333   0.125   3.600000  23.819977
13    75.0  0.937500     0.0  0.041667  0.083333   0.125   4.000000  18.294640
14   105.0  0.581281     0.0  0.041667  0.083333   0.125   5.619048  43.416754
15   115.0  1.517241     0.0  0.041667  0.083333   0.125   5.739130  37.007246
16    35.0  0.557377     0.0  0.041667  0.083333   0.125   9.714286  18.113771
17    60.0  0.645390     0.0  0.041667  0.083333   0.125   7.583333  29.595706
18   120.0  0.015686     0.0  0.041667  0.083333   0.125   0.166667  27.026523
19    65.0  0.689655     0.0  0.041667  0.083333   0.125   6.153846  28.055813
20    15.0  0.056022     0.0  0.041667  0.083333   0.125   6.666667  93.065311
21    85.0  1.061069     0.0  0.041667  0.083333   0.125   8.176471  42.951924
22   120.0  0.037901     0.0  0.041667  0.083333   0.125   0.541667  90.530642
23   115.0  5.454545     0.0  0.041667  0.083333   0.125  13.043478  85.387098
24   115.0  0.537815     0.0  0.041667  0.083333   0.125   5.565217  52.913640
25    50.0  0.241071     0.0  0.041667  0.083333   0.125   2.700000  13.331884
26    15.0  0.041199     0.0  0.041667  0.083333   0.125   3.666667  44.738350
27    60.0  0.428571     0.0  0.041667  0.083333   0.125   4.000000  16.383095
28    65.0  0.909091     0.0  0.041667  0.083333   0.125   6.923077  31.497383
29    65.0  0.748148     0.0  0.041667  0.083333   0.125   7.769231  34.184919
30    75.0  1.588235     0.0  0.041667  0.083333   0.125   9.000000  54.292018
31    30.0  0.096154     0.0  0.041667  0.083333   0.125   3.333333   5.649003
32    30.0  0.079710     0.0  0.041667  0.083333   0.125   3.666667  60.611243
33    95.0  0.770492     0.0  0.041667  0.083333   0.125   4.947368  34.729363
34   115.0  0.853846     0.0  0.041667  0.083333   0.125   4.826087  33.715777
35   115.0  1.058824     0.0  0.041667  0.083333   0.125   8.608696  64.831429
36   105.0  0.495146     0.0  0.041667  0.083333   0.125   4.857143  33.884608
37   120.0  0.022082     0.0  0.041667  0.083333   0.125   0.291667  45.403425
38    85.0  1.343066     0.0  0.041667  0.083333   0.125  10.823529  64.344634
39    55.0  0.741935     0.0  0.041667  0.083333   0.125   8.363636  30.474479
40    35.0  0.243386     0.0  0.041667  0.083333   0.125   6.571429  25.301658
41    50.0  0.380531     0.0  0.041667  0.083333   0.125   4.300000  14.250286
42    40.0  0.484615     0.0  0.041667  0.083333   0.125   7.875000  18.864073
43   115.0  0.728814     0.0  0.041667  0.083333   0.125   3.739130  33.757340
44   115.0  1.323077     0.0  0.041667  0.083333   0.125   3.739130  29.409127
45    30.0  0.426667     0.0  0.041667  0.083333   0.125  10.666667  25.105827
46    90.0  0.968504     0.0  0.041667  0.083333   0.125   6.833333  44.960349
47    95.0  0.875000     0.0  0.041667  0.083333   0.125   7.368421  48.259489
48    25.0  0.122549     0.0  0.041667  0.083333   0.125   5.000000  59.304651
49    25.0  0.100559     0.0  0.041667  0.083333   0.125   3.600000  18.847212
50   105.0  1.473684     0.0  0.041667  0.083333   0.125   6.666667  53.652920
51    30.0  0.027237     0.0  0.041667  0.083333   0.125   1.166667  30.945926
52    80.0  2.311475     0.0  0.041667  0.083333   0.125   8.812500  47.162358
53    40.0  0.608333     0.0  0.041667  0.083333   0.125   9.125000  31.413442
54    35.0  0.116788     0.0  0.041667  0.083333   0.125   4.571429  18.698940
55   120.0  0.109756     0.0  0.041667  0.083333   0.125   0.375000  11.339859
56   120.0  0.027523     0.0  0.041667  0.083333   0.125   0.375000  75.762023
57    20.0  0.070111     0.0  0.041667  0.083333   0.125   4.750000  30.895775

In [299]:
import pickle

with open('mealNoMealModel.pkl', 'rb') as pre_trained:
    pickle_file = pickle.load(pre_trained)
    predict = pickle_file.predict(dfCGMTestMatrix)    
    pre_trained.close()

pd.DataFrame(predict).to_csv('Result.csv',index=False,header=False)


* Distance time=tmax-Tmeal
* DG = CGM Max - CGM meal
   ***DGn = (CGMMax - CGMMeal) /(CGM Meal)***
* Fast Fourier transform = Power Frequency
  ***Pf1, f1,Pf2, f2***
* Slope of CGM
* Double difeerenciate