<a href="https://colab.research.google.com/github/jhuarancca/ASU_DataMining/blob/main/DataMininProyecto02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

dfIns = pd.read_csv ('InsulinData.csv')
dfCGM = pd.read_csv ('CGMData.csv')
dfInsP2 = pd.read_csv ('Insulin_patient2.csv')
dfCGMP2 = pd.read_csv ('CGM_patient2.csv')

dfIns['Datetime']=pd.to_datetime(dfIns['Date'] + ' ' + dfIns['Time'])
dfCGM['Datetime']=pd.to_datetime(dfCGM['Date'] + ' ' + dfCGM['Time'])
dfIns.rename(columns={"BWZ Carb Input (grams)": "Carb"},inplace=True)

dfInsP2['Datetime']=pd.to_datetime(dfInsP2['Date'] + ' ' + dfInsP2['Time'])
dfCGMP2['Datetime']=pd.to_datetime(dfCGM['Date'] + ' ' + dfCGMP2['Time'])
dfInsP2.rename(columns={"BWZ Carb Input (grams)": "Carb"},inplace=True)

#dfInsP2.head()

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (43) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)
/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (9,10) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [ ]:
dfMeals=dfIns
dfMeals=dfMeals.drop(dfMeals[dfMeals['Carb'].isna()].index)
dfMeals = dfMeals.drop(dfMeals[(dfMeals['Carb']==0.0)].index)
dfMeals=dfMeals[["Datetime", "Carb"]]
dfMeals=dfMeals.reset_index(drop=True)
dfMeals = dfMeals.sort_values(by=['Datetime'], ascending=True)
dfMeals['Delete']='N'

dfMealsP2=dfInsP2
dfMealsP2=dfMealsP2.drop(dfMealsP2[dfMealsP2['Carb'].isna()].index)
dfMealsP2 = dfMealsP2.drop(dfMealsP2[(dfMealsP2['Carb']==0.0)].index)
dfMealsP2=dfMealsP2[["Datetime", "Carb"]]
dfMealsP2=dfMealsP2.reset_index(drop=True)
dfMealsP2 = dfMealsP2.sort_values(by=['Datetime'], ascending=True)
dfMealsP2['Delete']='N'

#dfMealsP2

In [ ]:
from datetime import datetime, timedelta

dfMealsTmp=dfMeals
dfMealsTmp = dfMealsTmp.sort_values(by=['Datetime'], ascending=True)
dfMealsTmp=dfMealsTmp.reset_index(drop=True)

for index, row in dfMealsTmp.iterrows():
   ld_DateTime1=dfMealsTmp.at[index, 'Datetime']
   
   if index<(len(dfMealsTmp.index)-1):
    #print(index,len(dfMeals.index))
    ld_DateTime2=dfMealsTmp.at[index+1,'Datetime']
    ld_DateTime3=ld_DateTime1  + timedelta(hours=2)
    if ld_DateTime2<=ld_DateTime3:
      dfMeals.at[index,'Delete']='Y'
      #print(index,row['Datetime'], row['Carb'],ld_DateTime2,ld_DateTime3)
dfMeals01=dfMeals[(dfMeals['Delete']=='N')]
#dfMeals=dfMeals.drop(dfMeals[(dfMeals['Delete']=='Y')].index)
dfMeals01=dfMeals01.reset_index(drop=True)


dfMealsTmpP2=dfMealsP2
dfMealsTmpP2=dfMealsTmpP2.sort_values(by=['Datetime'], ascending=True)
dfMealsTmpP2=dfMealsTmpP2.reset_index(drop=True)

for index, row in dfMealsTmpP2.iterrows():
   ld_DateTime1=dfMealsTmpP2.at[index, 'Datetime']
   
   if index<(len(dfMealsTmpP2.index)-1):
    #print(index,len(dfMeals.index))
    ld_DateTime2=dfMealsTmpP2.at[index+1,'Datetime']
    ld_DateTime3=ld_DateTime1  + timedelta(hours=2)
    if ld_DateTime2<=ld_DateTime3:
      dfMealsP2.at[index,'Delete']='Y'
      #print(index,row['Datetime'], row['Carb'],ld_DateTime2,ld_DateTime3)
dfMeals01P2=dfMeals[(dfMeals['Delete']=='N')]
#dfMeals=dfMeals.drop(dfMeals[(dfMeals['Delete']=='Y')].index)
dfMeals01P2=dfMeals01.reset_index(drop=True)

#dfMeals01P2

In [ ]:
dfCGM.rename(columns={"Sensor Glucose (mg/dL)": "Glucose"},inplace=True)
dfCGM = dfCGM.drop(dfCGM[dfCGM['Glucose'].isna()].index)
dfCGM=dfCGM[["Datetime", "Glucose"]]
dfCGM=dfCGM.reset_index(drop=True)
dfCGM = dfCGM.sort_values(by=['Datetime'], ascending=True)
dfCGM=dfCGM.reset_index(drop=True)

dfCGMP2.rename(columns={"Sensor Glucose (mg/dL)": "Glucose"},inplace=True)
dfCGMP2 = dfCGMP2.drop(dfCGMP2[dfCGMP2['Glucose'].isna()].index)
dfCGMP2=dfCGMP2[["Datetime", "Glucose"]]
dfCGMP2=dfCGMP2.reset_index(drop=True)
dfCGMP2=dfCGMP2.sort_values(by=['Datetime'], ascending=True)
dfCGMP2=dfCGMP2.reset_index(drop=True)

dfCGMP2

                 Datetime  Glucose
0     2017-10-10 10:46:21    182.0
1     2017-10-10 10:51:21    183.0
2     2017-10-10 10:56:21    201.0
3     2017-10-10 11:01:21    214.0
4     2017-10-10 11:06:21    226.0
...                   ...      ...
31284 2018-02-12 23:35:45    273.0
31285 2018-02-12 23:40:45    279.0
31286 2018-02-12 23:45:45    286.0
31287 2018-02-12 23:50:45    295.0
31288 2018-02-12 23:55:45    305.0

[31289 rows x 2 columns]

In [ ]:
dfMealData = pd.DataFrame()
li_row=0
for index, row in dfMeals01.iterrows():
   ld_DateTime=dfMeals01.at[index, 'Datetime']
   ld_DateTimeFrom=dfMeals01.at[index, 'Datetime']+ timedelta(hours=-0.5)
   ld_DateTimeTo=dfMeals01.at[index, 'Datetime']+ timedelta(hours=2)
   #dfCGM
   #print(index,ld_DateTime,ld_DateTimeFrom,ld_DateTimeTo)
   dfCGM01=dfCGM.loc[(dfCGM['Datetime'] >= ld_DateTimeFrom) & (dfCGM['Datetime'] <= ld_DateTimeTo)]
   #if li_row==10:
   # print(dfCGM01)
   #print(len(dfCGM01.index) )
   if len(dfCGM01.index)==30:
    li_column=1
    for ind in dfCGM01.index:
      #print(dfCGM01['Glucose'][ind])
      #print(ind,dfCGM01.index)
      dfMealData.at[li_row,li_column]=dfCGM01['Glucose'][ind]
      li_column=li_column+1
    #dfCGM01=pd.pivot(data=dfCGM01,index='Id',columns='Id',values='Glucose')
    li_row=li_row+1
dfMealData.columns = ['01', '02', '03','04', '05', '06','07', '08', '09','10', '11', '12','13', '14', '15','16', '17', '18','19', '20', '21','22', '23', '24','25', '26', '27','28', '29', '30']   

dfMealDataP2 = pd.DataFrame()
li_row=0
for index, row in dfMeals01P2.iterrows():
   ld_DateTime=dfMeals01P2.at[index, 'Datetime']
   ld_DateTimeFrom=dfMeals01P2.at[index, 'Datetime']+ timedelta(hours=-0.5)
   ld_DateTimeTo=dfMeals01P2.at[index, 'Datetime']+ timedelta(hours=2)
   #dfCGM
   #print(index,ld_DateTime,ld_DateTimeFrom,ld_DateTimeTo)
   dfCGM01P2=dfCGMP2.loc[(dfCGMP2['Datetime'] >= ld_DateTimeFrom) & (dfCGMP2['Datetime'] <= ld_DateTimeTo)]
   #if li_row==10:
   # print(dfCGM01)
   #print(len(dfCGM01.index) )
   if len(dfCGM01P2.index)==30:
    li_column=1
    for ind in dfCGM01P2.index:
      #print(dfCGM01['Glucose'][ind])
      #print(ind,dfCGM01.index)
      dfMealDataP2.at[li_row,li_column]=dfCGM01P2['Glucose'][ind]
      li_column=li_column+1
    #dfCGM01=pd.pivot(data=dfCGM01,index='Id',columns='Id',values='Glucose')
    li_row=li_row+1
dfMealDataP2.columns = ['01', '02', '03','04', '05', '06','07', '08', '09','10', '11', '12','13', '14', '15','16', '17', '18','19', '20', '21','22', '23', '24','25', '26', '27','28', '29', '30']   

dfMealDataP2

,01,02,03,04,05,06,07,08,09,10,...,21,22,23,24,25,26,27,28,29,30
0,221.0,226.0,236.0,237.0,241.0,234.0,222.0,198.0,188.0,186.0,...,175.0,175.0,170.0,161.0,146.0,134.0,148.0,154.0,147.0,144.0
1,146.0,134.0,148.0,154.0,147.0,144.0,142.0,137.0,127.0,119.0,...,83.0,76.0,68.0,67.0,69.0,73.0,80.0,97.0,112.0,126.0
2,73.0,80.0,97.0,112.0,126.0,130.0,137.0,140.0,135.0,134.0,...,128.0,129.0,126.0,122.0,120.0,118.0,121.0,127.0,134.0,145.0
3,202.0,199.0,194.0,187.0,180.0,175.0,171.0,170.0,170.0,170.0,...,174.0,173.0,172.0,171.0,169.0,165.0,163.0,162.0,163.0,164.0
4,140.0,150.0,156.0,157.0,156.0,153.0,150.0,148.0,148.0,148.0,...,99.0,94.0,94.0,93.0,92.0,89.0,87.0,86.0,81.0,73.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
294,113.0,116.0,118.0,121.0,122.0,123.0,125.0,125.0,125.0,127.0,...,203.0,202.0,202.0,203.0,205.0,206.0,205.0,209.0,216.0,214.0
295,140.0,146.0,152.0,157.0,165.0,179.0,189.0,195.0,200.0,203.0,...,210.0,207.0,205.0,200.0,199.0,204.0,205.0,201.0,194.0,186.0
296,207.0,205.0,200.0,199.0,204.0,205.0,201.0,194.0,186.0,184.0,...,162.0,166.0,164.0,159.0,153.0,150.0,149.0,149.0,148.0,147.0
297,291.0,284.0,279.0,277.0,280.0,285.0,286.0,287.0,284.0,281.0,...,292.0,293.0,295.0,297.0,296.0,295.0,292.0,288.0,285.0,282.0
298,98.0,86.0,80.0,76.0,74.0,77.0,83.0,93.0,95.0,98.0,...,164.0,167.0,160.0,158.0,159.0,169.0,187.0,186.0,184.0,176.0

In [ ]:
dfNoMealData = pd.DataFrame()
#dfCGM01 = pd.DataFrame()
li_row=0
for index, row in dfMeals01.iterrows():
   ld_DateTime=dfMeals01.at[index, 'Datetime']
   ld_DateTimeFrom=dfMeals01.at[index, 'Datetime']+ timedelta(hours=2)
   ld_DateTimeTo=dfMeals01.at[index, 'Datetime']+ timedelta(hours=4)
   if index<(len(dfMeals01.index)-1):
    ld_DateTimeNext=dfMeals01.at[index+1,'Datetime']
   else:
    ld_DateTimeNext= max(dfMeals01['Datetime'])
      
   #print("next",ld_DateTimeNext)
   while ld_DateTimeTo<=ld_DateTimeNext:
      li_count=0
      dfMeals02=dfMeals01.loc[(dfMeals01['Datetime'] >= ld_DateTimeFrom) & (dfMeals01['Datetime'] <= ld_DateTimeTo)]
      li_count=len(dfMeals02.index)
      if li_count==0:
        #print(li_count)
        ###
        dfCGM02=dfCGM.loc[(dfCGM['Datetime'] >= ld_DateTimeFrom) & (dfCGM['Datetime'] <= ld_DateTimeTo)]
        #if li_row==0:
          #print(dfCGM02)
   
        if len(dfCGM02.index)==24:
          li_column=1
          for ind in dfCGM02.index:
            #print(dfCGM01['Glucose'][ind])
            #print(ind,dfCGM01.index)
            dfNoMealData.at[li_row,li_column]=dfCGM02['Glucose'][ind]
            li_column=li_column+1
          #dfCGM01=pd.pivot(data=dfCGM01,index='Id',columns='Id',values='Glucose')
          li_row=li_row+1
        ###
        ld_DateTimeFrom=ld_DateTimeTo
        ld_DateTimeTo=ld_DateTimeTo+ timedelta(hours=2)
      else:
        #print(li_count,"break",)
        break
      #print(ld_DateTimeFrom,ld_DateTimeTo)
dfNoMealData.columns = ['01', '02', '03','04', '05', '06','07', '08', '09','10', '11', '12','13', '14', '15','16', '17', '18','19', '20', '21','22', '23', '24']   

dfNoMealDataP2 = pd.DataFrame()
li_row=0
for index, row in dfMeals01P2.iterrows():
   ld_DateTime=dfMeals01P2.at[index, 'Datetime']
   ld_DateTimeFrom=dfMeals01P2.at[index, 'Datetime']+ timedelta(hours=2)
   ld_DateTimeTo=dfMeals01P2.at[index, 'Datetime']+ timedelta(hours=4)
   if index<(len(dfMeals01P2.index)-1):
    ld_DateTimeNext=dfMeals01P2.at[index+1,'Datetime']
   else:
    ld_DateTimeNext= max(dfMeals01P2['Datetime'])
      
   #print("next",ld_DateTimeNext)
   while ld_DateTimeTo<=ld_DateTimeNext:
      li_count=0
      dfMeals02P2=dfMeals01P2.loc[(dfMeals01P2['Datetime'] >= ld_DateTimeFrom) & (dfMeals01P2['Datetime'] <= ld_DateTimeTo)]
      li_count=len(dfMeals02P2.index)
      if li_count==0:
        #print(li_count)
        ###
        dfCGM02P2=dfCGMP2.loc[(dfCGMP2['Datetime'] >= ld_DateTimeFrom) & (dfCGMP2['Datetime'] <= ld_DateTimeTo)]
        #if li_row==0:
          #print(dfCGM02P2)
   
        if len(dfCGM02P2.index)==24:
          li_column=1
          for ind in dfCGM02P2.index:
            #print(dfCGM01['Glucose'][ind])
            #print(ind,dfCGM01.index)
            dfNoMealDataP2.at[li_row,li_column]=dfCGM02P2['Glucose'][ind]
            li_column=li_column+1
          #dfCGM01=pd.pivot(data=dfCGM01,index='Id',columns='Id',values='Glucose')
          li_row=li_row+1
        ###
        ld_DateTimeFrom=ld_DateTimeTo
        ld_DateTimeTo=ld_DateTimeTo+ timedelta(hours=2)
      else:
        #print(li_count,"break",)
        break
      #print(ld_DateTimeFrom,ld_DateTimeTo)
   
dfNoMealDataP2.columns = ['01', '02', '03','04', '05', '06','07', '08', '09','10', '11', '12','13', '14', '15','16', '17', '18','19', '20', '21','22', '23', '24']   

dfNoMealDataP2

,01,02,03,04,05,06,07,08,09,10,...,15,16,17,18,19,20,21,22,23,24
0,244.0,246.0,247.0,245.0,242.0,239.0,224.0,211.0,205.0,218.0,...,229.0,228.0,226.0,225.0,224.0,221.0,219.0,219.0,221.0,226.0
1,156.0,162.0,170.0,180.0,191.0,201.0,212.0,219.0,223.0,227.0,...,204.0,207.0,205.0,191.0,181.0,174.0,172.0,173.0,175.0,178.0
2,121.0,124.0,128.0,126.0,122.0,120.0,122.0,129.0,139.0,147.0,...,174.0,177.0,179.0,182.0,185.0,189.0,194.0,197.0,199.0,202.0
3,164.0,163.0,162.0,161.0,161.0,165.0,165.0,163.0,160.0,157.0,...,192.0,190.0,190.0,188.0,183.0,177.0,163.0,148.0,136.0,127.0
4,190.0,189.0,186.0,183.0,180.0,173.0,170.0,168.0,163.0,157.0,...,196.0,202.0,211.0,221.0,225.0,232.0,235.0,230.0,224.0,220.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
750,110.0,106.0,108.0,111.0,110.0,110.0,110.0,110.0,113.0,118.0,...,120.0,120.0,120.0,120.0,122.0,124.0,130.0,136.0,143.0,147.0
751,149.0,150.0,149.0,147.0,145.0,143.0,142.0,141.0,140.0,140.0,...,140.0,141.0,142.0,144.0,146.0,150.0,153.0,156.0,159.0,159.0
752,164.0,162.0,162.0,162.0,160.0,158.0,155.0,151.0,147.0,142.0,...,129.0,127.0,124.0,315.0,326.0,336.0,349.0,357.0,368.0,375.0
753,282.0,283.0,282.0,286.0,292.0,292.0,289.0,282.0,275.0,273.0,...,273.0,272.0,272.0,271.0,271.0,268.0,265.0,262.0,260.0,258.0
754,255.0,252.0,248.0,246.0,246.0,252.0,270.0,273.0,286.0,291.0,...,289.0,283.0,273.0,239.0,208.0,205.0,196.0,165.0,151.0,142.0

In [ ]:
dfMealData = pd.concat([dfMealData, dfMealDataP2],ignore_index=True)
dfNoMealData = pd.concat([dfNoMealData, dfNoMealDataP2],ignore_index=True)

In [ ]:
import numpy as np
import matplotlib.pyplot as plotter
from scipy.fftpack import fft

dfMealMatrix = pd.DataFrame()

#dfMealData.info()
ld_feat01=0.00
ld_feat02=0.00
ld_feat03=0.00
ld_feat04=0.00
ld_feat05=0.00
ld_feat06=0.00
ld_feat07=0.00
ld_feat08=0.00

for index,row in dfMealData.iterrows(): 
    ld_maxMeal=max(row)
    ld_startMeal=dfMealData.at[index, '01']
    ld_meal=dfMealData.at[index, '07']
    #ld_feat01 *****************************
    ld_feat01=0.00
    x = range(0,30)
    ld_row=0
    li_indexMax=0
    for n in x:
      ld_row=row.get(n,0)
      if ld_row>=ld_maxMeal:
        li_indexMax=n+1
    #print("IndexMax",li_indexMax)
    #print(row)
    if li_indexMax>7:
      ld_feat01=(li_indexMax-7)*5
    else:   
      #Average 25  *************************************************************
      ld_feat01=(25-7)*5
    #print("ld_feat01",ld_feat01)
    #ld_feat02 *****************************
    ld_feat02=0.00
    ld_feat02=(ld_maxMeal - ld_meal)/ld_meal

    #print("ld_feat02",ld_feat02)
    #row.loc[row['column_name'] == ld_max]
    #row.iloc[:,1]
    #print(ld_max,ld_meal)
    
    #ld_feat03 *****************************
    #ld_feat04 *****************************
    #ld_feat05 *****************************
    #ld_feat06 *****************************
    ld_feat03=0.00
    ld_feat04=0.00
    ld_feat05=0.00
    ld_feat06=0.00

    #la_signal = np.array(row, dtype=float)
    #fourier = np.fft.fft(la_signal)
    #n = la_signal.size
    #sampleRate = 30
    #timestep = 0.1/sampleRate
    #la_freq = np.fft.fftfreq(n, d=timestep)

    la_sp = np.fft.fft(row)
    la_freq = np.fft.fftfreq(row.shape[-1])
    
    #la_freq = np.fft.fft(x)

    ld_feat03=abs(la_freq[0].real)
    ld_feat04=abs(la_freq[1].real)
    ld_feat05=abs(la_freq[2].real)
    ld_feat06=abs(la_freq[3].real)
    #ld_feat07 *****************************
    #First data point until max datapoint
    #ld_feat07 = (y2-y1)/(x2-x1)
    ld_feat07 = (ld_maxMeal-ld_startMeal)/(li_indexMax-0)
    
    #ld_feat08 *****************************
    ld_feat08=row.std(axis=0)

    dfMealMatrix.at[index,"feat01"]=ld_feat01
    dfMealMatrix.at[index,"feat02"]=ld_feat02
    dfMealMatrix.at[index,"feat03"]=ld_feat03
    dfMealMatrix.at[index,"feat04"]=ld_feat04
    dfMealMatrix.at[index,"feat05"]=ld_feat05
    dfMealMatrix.at[index,"feat06"]=ld_feat06
    dfMealMatrix.at[index,"feat07"]=ld_feat07
    dfMealMatrix.at[index,"feat08"]=ld_feat08
    
#row
dfMealMatrix

#row.iloc[:,:]
#dfMealData

     feat01    feat02  feat03    feat04    feat05  feat06    feat07     feat08
0     115.0  1.168224     0.0  0.033333  0.066667     0.1  4.033333  33.384627
1      55.0  1.415385     0.0  0.033333  0.066667     0.1  3.888889  28.845227
2      25.0  0.351515     0.0  0.033333  0.066667     0.1  4.166667  18.579095
3      30.0  0.244681     0.0  0.033333  0.066667     0.1  3.000000  40.152640
4     105.0  0.376923     0.0  0.033333  0.066667     0.1  1.571429  17.198102
..      ...       ...     ...       ...       ...     ...       ...        ...
609   110.0  0.728000     0.0  0.033333  0.066667     0.1  3.551724  37.972525
610    55.0  0.142857     0.0  0.033333  0.066667     0.1  4.222222  20.755279
611    90.0  0.029851     0.0  0.033333  0.066667     0.1  0.000000  20.775787
612    85.0  0.038462     0.0  0.033333  0.066667     0.1  0.250000   5.849551
613   100.0  1.253012     0.0  0.033333  0.066667     0.1  3.296296  38.389474

[614 rows x 8 columns]

In [ ]:
dfNoMealMatrix = pd.DataFrame()

ld_feat01=0.00
ld_feat02=0.00
ld_feat03=0.00
ld_feat04=0.00
ld_feat05=0.00
ld_feat06=0.00
ld_feat07=0.00
ld_feat08=0.00

for index,row in dfNoMealData.iterrows(): 
    ld_maxMeal=max(row)
    ld_startMeal=dfNoMealData.at[index, '01']
    ld_meal=dfNoMealData.at[index, '01']
    #ld_feat01 *****************************
    ld_feat01=0.00
    x = range(0,24)
    ld_row=0
    li_indexMax=0
    for n in x:
      ld_row=row.get(n,0)
      if ld_row>=ld_maxMeal:
        li_indexMax=n+1
    #print("IndexMax",li_indexMax)
    #print(row)
    if li_indexMax>0:
      ld_feat01=(li_indexMax)*5
    else:   
      #Average 15  *************************************************************
      ld_feat01=(15-7)*5
    #print("ld_feat01",ld_feat01)
    #ld_feat02 *****************************
    ld_feat02=0.00
    ld_feat02=(ld_maxMeal - ld_meal)/ld_meal

    #print("ld_feat02",ld_feat02)
    #row.loc[row['column_name'] == ld_max]
    #row.iloc[:,1]
    #print(ld_max,ld_meal)
    
    #ld_feat03 *****************************
    #ld_feat04 *****************************
    #ld_feat05 *****************************
    #ld_feat06 *****************************
    ld_feat03=0.00
    ld_feat04=0.00
    ld_feat05=0.00
    ld_feat06=0.00

    #la_signal = np.array(row, dtype=float)
    #fourier = np.fft.fft(la_signal)
    #n = la_signal.size
    #sampleRate = 30
    #timestep = 0.1/sampleRate
    #la_freq = np.fft.fftfreq(n, d=timestep)

    la_sp = np.fft.fft(row)
    la_freq = np.fft.fftfreq(row.shape[-1])
    
    #la_freq = np.fft.fft(x)
    
    ld_feat03=abs(la_freq[0].real)
    ld_feat04=abs(la_freq[1].real)
    ld_feat05=abs(la_freq[2].real)
    ld_feat06=abs(la_freq[3].real)
    #ld_feat07 *****************************
    #First data point until max datapoint
    #ld_feat07 = (y2-y1)/(x2-x1)
    ld_feat07 = (ld_maxMeal-ld_startMeal)/(li_indexMax-0)
    
    #ld_feat08 *****************************
    ld_feat08=row.std(axis=0)

    dfNoMealMatrix.at[index,"feat01"]=ld_feat01
    dfNoMealMatrix.at[index,"feat02"]=ld_feat02
    dfNoMealMatrix.at[index,"feat03"]=ld_feat03
    dfNoMealMatrix.at[index,"feat04"]=ld_feat04
    dfNoMealMatrix.at[index,"feat05"]=ld_feat05
    dfNoMealMatrix.at[index,"feat06"]=ld_feat06
    dfNoMealMatrix.at[index,"feat07"]=ld_feat07
    dfNoMealMatrix.at[index,"feat08"]=ld_feat08
    
#row
dfNoMealMatrix

#row.iloc[:,:]
#dfMealData

,feat01,feat02,feat03,feat04,feat05,feat06,feat07,feat08
0,5.0,0.000000,0.0,0.041667,0.083333,0.125,0.000000,5.954994
1,55.0,0.017699,0.0,0.041667,0.083333,0.125,0.181818,7.823112
2,45.0,0.129032,0.0,0.041667,0.083333,0.125,1.333333,5.086035
3,80.0,0.628866,0.0,0.041667,0.083333,0.125,3.812500,25.140151
4,120.0,0.131387,0.0,0.041667,0.083333,0.125,0.750000,6.813775
...,...,...,...,...,...,...,...,...
1657,120.0,0.336364,0.0,0.041667,0.083333,0.125,1.541667,10.636194
1658,120.0,0.067114,0.0,0.041667,0.083333,0.125,0.416667,6.324412
1659,120.0,1.286585,0.0,0.041667,0.083333,0.125,8.791667,94.612214
1660,30.0,0.035461,0.0,0.041667,0.083333,0.125,1.666667,9.316885
1661,65.0,0.180392,0.0,0.041667,0.083333,0.125,3.538462,47.329997

In [ ]:
dfMealMatrix01=dfMealMatrix
dfMealMatrix01['meal']=1

dfNoMealMatrix01=dfNoMealMatrix
dfNoMealMatrix01['meal']=0

dfMatrix = pd.concat([dfMealMatrix01, dfNoMealMatrix01],ignore_index=True)
dfMatrix

,feat01,feat02,feat03,feat04,feat05,feat06,feat07,feat08,meal
0,115.0,1.168224,0.0,0.033333,0.066667,0.100,4.033333,33.384627,1
1,55.0,1.415385,0.0,0.033333,0.066667,0.100,3.888889,28.845227,1
2,25.0,0.351515,0.0,0.033333,0.066667,0.100,4.166667,18.579095,1
3,30.0,0.244681,0.0,0.033333,0.066667,0.100,3.000000,40.152640,1
4,105.0,0.376923,0.0,0.033333,0.066667,0.100,1.571429,17.198102,1
...,...,...,...,...,...,...,...,...,...
2271,120.0,0.336364,0.0,0.041667,0.083333,0.125,1.541667,10.636194,0
2272,120.0,0.067114,0.0,0.041667,0.083333,0.125,0.416667,6.324412,0
2273,120.0,1.286585,0.0,0.041667,0.083333,0.125,8.791667,94.612214,0
2274,30.0,0.035461,0.0,0.041667,0.083333,0.125,1.666667,9.316885,0
2275,65.0,0.180392,0.0,0.041667,0.083333,0.125,3.538462,47.329997,0

In [ ]:
from sklearn.metrics import confusion_matrix                 # To obtain confusion matrix

X = dfMatrix.drop('meal', axis=1)
y = dfMatrix['meal']

# Linear Kernel
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.30,random_state=4)

svclassifier = SVC(kernel='linear')
svclassifier.fit(X_train, y_train)

y_pred = svclassifier.predict(X_test)
print("Confusion Matrix")
print(confusion_matrix(y_test,y_pred))

filename = 'MLModel.pickle'
pickle.dump(svclassifier, open(filename, 'wb'))

NameError: ignored

In [ ]:
from sklearn import linear_model
from sklearn.model_selection import train_test_split

#X_data=np.matrix(dfMatrix.iloc[:, :-1])
#Y_data=np.matrix(dfMatrix.iloc[:, -1])

#X_train,X_test,Y_train,Y_test=train_test_split(np.transpose(X_data),np.transpose(Y_data), test_size=0.2)
#print(X_train.shape)
#print(Y_train.shape)


X = dfMatrix.drop(['meal'],axis=1).values   # independant features
y = dfMatrix['meal'].values					# dependant variable

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

regr = linear_model.LinearRegression()
regr.fit(X_train,y_train)

filename = 'MLModel.pickle'
pickle.dump(regr, open(filename, 'wb'))

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC
from sklearn import metrics


X_train, X_test, y_train, y_test = train_test_split(dfMatrix.drop(["meal"], axis=1), dfMatrix["meal"], test_size=0.2, random_state = 109)
#new Classifier
clf = SVC(kernel='linear', gamma='auto')
clf.fit(X_train, y_train)  #train the model using training sets

#predict response for test dataset
y_pred = clf.predict(X_test)

acc = metrics.accuracy_score(y_test, y_pred)
print("Accuracy: ", metrics.accuracy_score(y_test, y_pred))
prec = metrics.precision_score(y_test, y_pred)
print("Precision: ", metrics.precision_score(y_test, y_pred))
recall = metrics.recall_score(y_test, y_pred)
print ("Recall: ", metrics.recall_score(y_test, y_pred))

f1 = 2*recall*prec/(recall + prec)
print("F1 Score: ", f1)

print(y_pred)
print(len(y_pred))

filename = 'MLModel.pickle'
pickle.dump(clf, open(filename, 'wb'))

In [ ]:
from sklearn.metrics import accuracy_score
from sklearn.model_selection import KFold
from sklearn.svm import SVC
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
import pickle

#------------------------------------------------------------------
#split the data set into independent (X) and dependent (Y) data sets
#X = df.iloc[:,2:31].values
#Y = df.iloc[:,1].values

##split the data qet into 75% training and 25% testing
#X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.25, random_state = 0)

##scale the data (feature scaling)
#sc = StandardScaler()
#X_train = sc.fit_transform(X_train)
#X_test = sc.transform(X_test)

#Using Logistic Regression Algorithm to the Training Set

#classifier = LogisticRegression(random_state = 0)
#classifier.fit(X_train, Y_train)
#-----------------------------------------------------------------

samples = dfMatrix.iloc[:, :-1]
labels = dfMatrix.iloc[:, -1]

model = 'ML_MealNoMealClassifier'
acc_scores = []

# For K-Fold validation
kfold_k=5
kf=KFold(kfold_k,shuffle=True,random_state=None)

for tr, ts in kf.split(samples, labels) : 
    tr_X, ts_X = samples.iloc[tr], samples.iloc[ts]
    tr_Y, ts_Y = labels.iloc[tr], labels.iloc[ts]

    model = SVC(kernel='rbf', gamma='scale', degree=3)
    model.fit(tr_X, tr_Y)

    pred_Y = model.predict(ts_X)
    acc_scores.append(accuracy_score(ts_Y, pred_Y))

print('Accuracy: ', (np.sum(acc_scores) / kfold_k) * 100)

# Dump the trained model into a pickle file
with open('mealNoMealModel.pkl', 'wb') as file :
   pickle.dump(model, file)

In [ ]:
dfCGMTest = pd.read_csv ('test.csv')
dfCGMTest
dfCGMTest.columns = ['01', '02', '03','04', '05', '06','07', '08', '09','10', '11', '12','13', '14', '15','16', '17', '18','19', '20', '21','22', '23', '24']   
dfCGMTest

In [ ]:
dfCGMTestMatrix = pd.DataFrame()

ld_feat01=0.00
ld_feat02=0.00
ld_feat03=0.00
ld_feat04=0.00
ld_feat05=0.00
ld_feat06=0.00
ld_feat07=0.00
ld_feat08=0.00

for index,row in dfCGMTest.iterrows(): 
    ld_maxMeal=max(row)
    ld_startMeal=dfCGMTest.at[index, '01']
    ld_meal=dfCGMTest.at[index, '01']
    #ld_feat01 *****************************
    ld_feat01=0.00
    x = range(0,24)
    ld_row=0
    li_indexMax=0
    for n in x:
      ld_row=row.get(n,0)
      if ld_row>=ld_maxMeal:
        li_indexMax=n+1
    #print("IndexMax",li_indexMax)
    #print(row)
    if li_indexMax>0:
      ld_feat01=(li_indexMax)*5
    else:   
      #Average 15  *************************************************************
      ld_feat01=(15-7)*5
    #print("ld_feat01",ld_feat01)
    #ld_feat02 *****************************
    ld_feat02=0.00
    ld_feat02=(ld_maxMeal - ld_meal)/ld_meal

    #print("ld_feat02",ld_feat02)
    #row.loc[row['column_name'] == ld_max]
    #row.iloc[:,1]
    #print(ld_max,ld_meal)
    
    #ld_feat03 *****************************
    #ld_feat04 *****************************
    #ld_feat05 *****************************
    #ld_feat06 *****************************
    ld_feat03=0.00
    ld_feat04=0.00
    ld_feat05=0.00
    ld_feat06=0.00

    #la_signal = np.array(row, dtype=float)
    #fourier = np.fft.fft(la_signal)
    #n = la_signal.size
    #sampleRate = 30
    #timestep = 0.1/sampleRate
    #la_freq = np.fft.fftfreq(n, d=timestep)

    la_sp = np.fft.fft(row)
    la_freq = np.fft.fftfreq(row.shape[-1])
    
    #la_freq = np.fft.fft(x)
    
    ld_feat03=abs(la_freq[0].real)
    ld_feat04=abs(la_freq[1].real)
    ld_feat05=abs(la_freq[2].real)
    ld_feat06=abs(la_freq[3].real)
    #ld_feat07 *****************************
    #First data point until max datapoint
    #ld_feat07 = (y2-y1)/(x2-x1)
    ld_feat07 = (ld_maxMeal-ld_startMeal)/(li_indexMax-0)
    
    #ld_feat08 *****************************
    ld_feat08=row.std(axis=0)

    dfCGMTestMatrix.at[index,"feat01"]=ld_feat01
    dfCGMTestMatrix.at[index,"feat02"]=ld_feat02
    dfCGMTestMatrix.at[index,"feat03"]=ld_feat03
    dfCGMTestMatrix.at[index,"feat04"]=ld_feat04
    dfCGMTestMatrix.at[index,"feat05"]=ld_feat05
    dfCGMTestMatrix.at[index,"feat06"]=ld_feat06
    dfCGMTestMatrix.at[index,"feat07"]=ld_feat07
    dfCGMTestMatrix.at[index,"feat08"]=ld_feat08
#row
dfCGMTestMatrix
#dfInsP2.head()

In [ ]:
import pickle

with open('mealNoMealModel.pkl', 'rb') as pre_trained:
    pickle_file = pickle.load(pre_trained)
    predict = pickle_file.predict(dfCGMTestMatrix)    
    pre_trained.close()

pd.DataFrame(predict).to_csv('Result.csv',index=False,header=False)


* Distance time=tmax-Tmeal
* DG = CGM Max - CGM meal
   ***DGn = (CGMMax - CGMMeal) /(CGM Meal)***
* Fast Fourier transform = Power Frequency
  ***Pf1, f1,Pf2, f2***
* Slope of CGM
* Double difeerenciate